html {
    scroll-behavior: smooth;
}
:root {
    --body-bg: #fff;
    --body-color: #000;
}
html,
body {
    background: rgb(30, 30, 30);
    color: white;
    overflow-x: hidden;
}

audio {
    display: block;
    margin-bottom: 1em;

    width: 100%;
}
.modal-header h5 {
    color: black !important;
}

.modal label {
    color: black;
}

.modal-body {
    color: black;
}
.card {
    position: relative;
}

.card .badge {
    position: absolute;

    top: 1em;
    right: 1.25em;

    box-shadow: 5px 10px 8px #0000005a;
}
